body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	padding: 140px 0;
	padding-left: 450px;
	background-image:url('../img/logo_test.jpg');
	opacity: 0.9;
    background-repeat:no-repeat;
    background-size: 100%;
}

.logowanie {
	text-align: center;
	width: 35%;
	max-width: 500px;
	margin: 0 auto;
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 20px;
	border-radius: 7px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}