body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	padding-top: 40px;
	/*background-image:url('../img/gradient.jpg');*/
	opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media (min-width: 1200px) {
    .container{
    	max-width: 900px;
    }
}

.logo_main {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.main-box {
    color: #FFF;
    background: none repeat scroll 0% 0% #2E3140;
	width: 85%;
	max-width: 800px;
	margin: 0 auto;
	/*background: #DCF2E4;*/
	border: 1px #666;
	padding: 12px 15px;
	border-radius: 1px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	/*color: #666;*/
	text-align: justify;
	opacity: 0.9;
}

.main-box a {
     color: #D40D12;
 }

.main-box a:hover {
    color: #ccc;
}

.logo {
	padding-left: 40px;
}

.nav-right {
	padding-right: 40px;
}

#footer {
	/*20px*/
	padding-top: 40px;
	width:100%;
	height:10px;
	position:relative;
	bottom:0;
}

#nav {
    font-size: 15px;
	z-index: 1;
	top:0;
    left:0;
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding-right: 30px;
	position: fixed;
	list-style: none;
	background-color: #2E3140;
	opacity: 0.6;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6); 
	}
#nav li {
	float: right;
}
#nav li a {
	display: block;
	padding: 4px 10px;
	text-decoration: none;
	color: #ccc;
	}
#nav li a:hover {
	color: #F05526;
}
#nav img {
    padding: 1px;
}

/* news section */

#news_list {
    display: block;
}

#news_list li {
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 1px;
    border-bottom: 1px solid #aaa;
    margin-left: -20px;
}

.clearfix {
    display: inline-block;
}

#news_list li a img{
    display: block;
    float: left;
    padding: 5px;
    background: #fff;
    margin-right: 15px;
}

#news_list li h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 3.0em;
    line-height: 1.45em;
    margin-bottom: 4px;
    color: #73ed95;
    font-weight: bold;
}

.ptime {
    float: right;
    font-size: 0.8em;
}

/* Login / register */
#backgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}
#toPopup {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #2e3140;
    border: 3px solid #2e3140;
    border-radius: 10px 10px 10px 10px;
    color: #d40d12;
    display: none;
    font-size: 14px;
    margin: auto;  
    position: fixed;
    left:0;
    right: 0;
    width: 400px;
    z-index: 2;
    text-align: left;
    margin-top: -100px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

#toPopup2 {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #2e3140;
    border: 3px solid #2e3140;
    border-radius: 10px 10px 10px 10px;
    color: #d40d12;
    display: none;
    font-size: 14px;
    margin: auto;  
    position: fixed;
    left:0;
    right: 0;
    width: 400px;
    z-index: 2;
    margin-top: -100px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.checkbox {
    display: block;
    clear: both;
}

div.loader {
    background: url("../img/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
    opacity: 0.3;
}
div.close {
    background: url("../img/closebox.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -20px;
    top: -17px;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 10px 12px;

}

#profile { 
    display: block; 
    width: 100%;
    max-width: 800px;
    margin: 0 auto;  
}

.profilepic {
    float: left; 
    display: block; 
    margin-right: 10px;
}

.profilepic a img { 
    padding: 7px; 
    background: #fff; 
    border: 1px solid #ccc; 
}

.data {
    float: left; 
    margin-right: 10px;
}

.clear {
    clear: both;
    margin-top: 1em;
    padding-left: 3px;
}

#profilebox { 
    display: block; 
    width: auto; 
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 

    border-radius: 5px; 
    padding: 12px; 
}

.sep { 
    clear: both; 
    margin-top: 10px; 
    width: auto; 
    height: 1px; 
    border-bottom: 1px solid #ccc; 
    margin-bottom: 0; 
}
#pright {
    text-align: right;
}

.nickname {
    margin-bottom: 3em;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 12px;
    
}

.rank {
    float: left;
    width: 400px;
}

.team {
    display: block;
}

.myteam {
    float: right;   
}

.myteamedit {
    float: left;
}

/* button do search */
.searchbutton {
    float: left;
}
#left {
    display: none;
}
#right {
    display: none;
}
/* koniec */

#floatright {
    float:right;
}

#brejker {
    padding-bottom: 25px;
}

.newsbutton {
    float:right;
    padding-right: 20px;
}

.imgsize {
    /*float: left;     */ /* caly div sie od tego sypie, a musi byc float left...  */  
    margin: 0px 15px 15px 0px;
    max-width:800px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* form, z tego http://www.sanwebe.com/2013/10/css-html-form-styles */
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 800px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #CF7A7A
}
#navtop-button {
    background-color: #2e3140;
    border-color: #2e3140;
    color: white;
    height: 30px;
}
#navtop-ul {
    background-color: #2e3140;
    color: white;
    margin: 0px;
}
#navtop-ul li a{
    padding: 3px 20px;
}
#navtop-ul li a:hover{
    background-color: #2e3140;
    color: red;
}
#games {
    background-color: #2e3140;
    color: white;
    margin: 0px;
}
#games li a{
    opacity: 0.6;
    color: #ccc;
    padding: 3px 20px;
}
#games li a:hover{
    background-color: #2e3140;
    color: red;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

/* search */
#searchbtn {
    width: 40%;
    margin: 0 auto;
    display: block;
}

/* upload photo */
label input[type="file"] {
    position: fixed;
    top: -1000px;
}

/* Example custom styling */
.myLabel {
    border: 2px solid #AAA;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: #DDD;
    display: inline-block;
}
.myLabel:hover {
    background: #CCC;
}
.myLabel:active {
    background: #CCF;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.imgText {
    text-align: center;
    margin: 0; padding: 25px 0 0 0;
    color: #fff;
}

#profilebox {
    color: #666;
}

.panel-body.panel-list-group{
    padding: 0;
}

.panel-body.panel-list-group .list-group{
    margin-bottom: 0;

}

.panel-body.panel-list-group .list-group .list-group-item:first-child{
    border-radius: 0;
}

.error-color{
    color: #FF0000;
}