body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	padding: 190px 0;
	padding-left: 30px;
	background-image:url('../img/logowanisssssses.jpg');
	opacity: 0.6;
    background-repeat:no-repeat;
    background-size:100% auto;
}

.logowanie {
	text-align: center;
	width: 30%;
	max-width: 400px;
	margin: 0 auto;
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 20px;
	border-radius: 7px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}